
<div class="example-container" >
  <div [hidden]="visibilidad">
    <mat-form-field>
      <input matInput placeholder="nombre"  [(ngModel)]="nombre">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="apellido"  [(ngModel)]="apellido"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Estado" >
        <mat-option value="Casado">Casado</mat-option>
        <mat-option value="Soltero">Soltero</mat-option>
        <mat-option value="Viudo">Viudo</mat-option>
        <mat-option value="AmigoEspecial">AmigoEspecial</mat-option>
        <mat-option value="FriendZoneado">FriendZoneado</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="example-button-row" >
    <button mat-raised-button  color="primary" (click)="capturarDato()" >{{nombreButton}}</button>
    </div>

    
    
  </div>



  <mat-card>{{alerta}}</mat-card>



 